body {
    margin: 0px;
}
/* .App {
    cursor:progress;
} */


/* Zen Mode */
#zen-body {
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.css-f1j64i div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-1c7184c {
    padding-left: 3px
}
