body {
    margin: 0px;
}

/* Zen Mode */
#zen-body {
    max-width: 80%; 
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
.css-f1j64i div{
    display: flex;
    justify-content: center;
    align-items: center;
}